:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --scrollbar-color: #c00342;
    --text-color-1: #ee0e58;
    --text-icon-nav: #ee0e58;
    --text-color: #ee0e58;
    --border-navbar: #ed3b77;
    --logo-color: #e81b5f;
    --sci-color: #e81b5f;
    --text-color-2: rgb(191, 74, 74);
    --background-color-1: rgb(243, 193, 140);
    --background-color-2: rgba(251, 236, 220, 0.83);
    --background-color-3: rgba(253, 225, 195, 0.83);
    --background-color-4: rgba(234, 191, 146, 0.83);
    --navbar-background: rgb(243, 193, 140);
    --container-background: #f6d09f;
    --background-header: rgb(244, 196, 146);
    --search-text: rgb(192, 92, 92);
    --search-placeholder: rgb(199, 123, 123);
    --userbox-background: rgba(250, 216, 180, 0.83);
    --userbox-hover: rgba(253, 218, 180, 0.83);
    --az-filter: rgb(249, 213, 174);
    --az-filter-hover: #e89bb5;
    --book-title: #eb3974;
    --book-author: rgb(208, 4, 4);
    --input-text-color: rgb(198, 51, 51);
    --input-text-background: rgba(248, 191, 130, 0.83);
    --tool-bar-background: rgba(238, 181, 120, 0.83);
    --tool-hover: #f8d2df;
    --book-cover-title: #f01b62;
    --book-cover-author: rgb(211, 77, 77);
    --book-cover-etc-text-color: #f01b62;
    --book-cover-etc-head-tag: rgba(238, 181, 120);
    --star-color: #ffb618;
    --overlay-background-color-1: #000;
    --overlay-background-color-2: rgba(0, 0, 0, 0.3);
    --rate-not-checked-color: rgb(169, 158, 158);
    --leaderboard-list-hover: rgb(243, 189, 131);
    --leaderboard-list-border: rgb(252, 74, 74);
    --list-info-author: rgb(208, 4, 4);
    --star-color-2: #fcaf08;
    --accordion-border: #eb3974;
    --background-color-body-accordion: rgba(253, 225, 195, 0.83);
    --accordion-item-form-bg: rgb(246, 206, 164);
    --accordion-item-header-hover: rgb(250, 199, 145);
    --accordion-item-header-bg: rgb(246, 206, 164);
}


/************** Template **************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-y: overlay;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

 

::-webkit-scrollbar {
    width: 11px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
}


    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: var(--text-color-1);
    }

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.user-interface {
    width: 100%;
    display: flex;
}

button,
input[type="submit"],
input[type="button"] {
    padding: 8px 30px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color-1);
    background: var(--background-color-4);
    border: 1px solid var(--accordion-border);
    margin-right: 8px;
}

    button:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover,
    input[type="file"]::-webkit-file-upload-button:hover {
        border: 1px solid var(--accordion-border);
        background: var(--background-color-3);
        transition: all 0.3s ease-in-out;
    }

input[type="file"] {
    color: var(--text-color-1);
}

    input[type="file"]::-webkit-file-upload-button {
        padding: 4px 30px;
        font-size: 12px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        color: var(--text-color-1);
        background: var(--background-color-4);
        border: 1px solid var(--accordion-border);
    }


/* Navigation Bar */

.navigation-bar {
    width: 230px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--navbar-background);
    border-right: 2px solid var(--border-navbar);
}


    /* Logo */

    .navigation-bar .logo {
        display: flex;
        margin-top: 2.5em;
        padding: 0 2em;
        margin-bottom: 2.5em;
    }

.logo i {
    font-size: 2.2em;
    margin-left: 0.2em;
    color: var(--logo-color);
}

.logo p {
    color: var(--logo-color);
    font-size: 2.2em;
}


/* List options */

.navigation-bar .list-option li {
    font-size: 1em;
    background: var(--background-color-1);
    color: var(--text-color-2);
    padding: 1em 2.1em;
    display: flex;
}

    .navigation-bar .list-option li i {
        display: none;
        font-size: 1em;
        margin-top: 1px;
    }

.navigation-bar .list-option .inactive:hover {
    background: var(--background-color-2);
    transition: all ease-in-out 0.2s;
}

    .navigation-bar .list-option .inactive:hover i {
        display: inline-block;
        margin-right: 7.5px;
        color: var(--text-icon-nav);
        animation: pop_out 0.2s ease-in-out;
    }

    .navigation-bar .list-option .inactive:hover p {
        display: inline-block;
        color: var(--text-color);
        animation: pop_out 0.2s ease-in-out;
    }

.navigation-bar .list-option .active i {
    color: var(--text-icon-nav);
    display: inline-block;
    margin-right: 7.5px;
}

.navigation-bar .list-option .active p {
    color: var(--text-color);
}

.navigation-bar .list-option .active {
    background: var(--background-color-3);
}

@keyframes pop_out {
    0% {
        transform: translate(-50px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.nav-spacer {
    height: 150px;
    display: block;
    position: relative;
    width: 100%;
}


/* List-sci */

.list-menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    width: 220px;
    box-sizing: border-box;
}

.list-sci {
    display: flex;
}

    .list-sci li {
        flex: 1;
    }

        .list-sci li a {
            font-size: 1.8em;
            color: var(--sci-color);
            margin-left: 16px;
        }


/* User Interface */

.container {
    flex: 5.5;
    background: var(--container-background);
}


/* Librabry Header */

.library-tools {
    position: sticky;
    z-index: 1;
    top: 0;
}

.library-header {
    display: flex;
    padding: 36px 0;
    background: var(--background-header);
}


/* Search Panel */

.search-panel {
    flex: 5.05;
    display: flex;
    align-items: center;
    margin-left: 18px;
}

    .search-panel i {
        font-size: 36px;
        color: var(--text-color-1);
        margin-left: 10px;
        margin-right: 6px;
    }

    .search-panel input[type="search"] {
        padding-left: 16px;
        font-size: 36px;
        width: 80%;
        border: none;
        outline: 0;
        color: var(--search-text);
        background: var(--background-header);
    }

        .search-panel input[type="search"]::placeholder {
            color: var(--search-placeholder);
            font-size: 20px;
            transform: translate(0, -2.5px);
        }


/* Library Header without search  */

.library-title {
    flex: 5;
    font-size: 18px;
    margin-left: 32px;
    color: var(--text-color-1);
}


/* User profile */

.user-profile {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-box {
    display: flex;
    align-items: center;
    background: var(--userbox-background);
    max-width: 90%;
    border-radius: 40px;
}

    .user-box i {
        font-size: 28px;
        color: var(--text-color-2);
    }

.username {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-left: 8px;
    font-size: 14px;
    margin-right: 14px;
    margin-top: 2px;
    color: var(--text-color-2);
}

.user-box:hover {
    transition: all 0.3s ease-in-out;
    max-width: 95%;
    background: var(--userbox-hover);
}

    .user-box:hover i {
        transition: all 0.3s ease-in-out;
        font-size: 2.1em;
        margin-right: 6px;
        color: var(--text-color-1);
    }

    .user-box:hover .username {
        color: var(--text-color-1);
    }


/************** Template **************/


/******* Library CSS *******/


/* Find first letter */

.az-filter {
    display: flex;
    color: var(--text-color-1);
    margin-bottom: 2.4em;
    font-size: 0.85em;
    justify-content: center;
    background: var(--az-filter);
}

    .az-filter span {
        display: inline-block;
        cursor: pointer;
        padding: 2px 1%;
    }

        .az-filter span:hover {
            color: var(--az-filter-hover);
        }


/* List-book */

.list-book {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
}


/* First letter */

.first-letter {
    margin-left: 28px;
    padding: 4px;
    margin-right: 2.8%;
    font-weight: bold;
    font-size: 24px;
    color: var(--text-icon-nav);
    border-bottom: 1px solid var(--scrollbar-color);
}


/* Book css */

.list-book {
    margin-left: 8px;
}

.item-cover-book {
    width: 167px;
    height: auto;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    padding: 20px;
    white-space: normal;
}

    .item-cover-book img {
        display: inline-block;
        vertical-align: middle;
        height: auto;
        position: relative;
        width: 100%;
        max-width: 100%;
        border-radius: 6px;
        margin-bottom: 6px;
    }

    .item-cover-book .book-title {
        font-weight: bold;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 1px;
        line-height: 1.5;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: var(--book-title);
    }

    .item-cover-book .book-author {
        font-size: 12px;
        display: inline-block;
        text-align: center;
        color: var(--book-author);
    }

    .item-cover-book:hover img {
        opacity: 0.85;
        transform: translate(0, -5px);
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0.1em 0.1em, rgba(0, 0, 0, 0.22) 0px 5px 6px;
    }


/******* Library CSS *******/


/******* Add-book , Edit-book CSS *******/

.add-book-site {
    margin-top: 25px;
    display: grid;
}

.input-group {
    margin-bottom: 15px;
    margin-left: 9%;
}

    .input-group .input-title {
        margin-bottom: 10px;
        color: var(--text-color-1);
    }

    .input-group input[type="text"],
    textarea {
        font-weight: normal;
        line-height: 1.5;
        font-size: 1rem;
        width: 90%;
        border-radius: 4px;
        background: var(--input-text-background);
        border: 1px solid var(--text-color-1);
        padding-left: 4px;
        color: var(--input-text-color);
        outline: 0;
    }

textarea {
    resize: none;
}

.input-group input[type="text"] {
    padding: 3px;
}

.input-group textarea {
    height: 200px;
}


/******* Add-book CSS *******/


/******* Book showcase *******/


/* Tool-bar */

.tool-bar {
    display: flex;
    background: var(--tool-bar-background);
    position: sticky;
    top: 0;
    z-index: 1;
}

.tools {
    display: flex;
    flex: 24;
    justify-content: space-evenly;
    align-items: center;
}

.tool i {
    margin-right: 5px;
    color: var(--text-color-1);
}

.tool a {
    color: var(--text-color-1);
    cursor: pointer;
}

    .tool a:hover i {
        color: var(--tool-hover);
    }

    .tool a:hover {
        color: var(--tool-hover);
    }

.close-btn {
    flex: 1;
    font-size: 32px;
    color: var(--text-color-1);
}

.add-book-site button {
    transform: translate(245px, -50.5px);
    position: absolute;
}


/* Book-info */

.book-info {
    font-weight: normal;
    line-height: 1.5;
    display: flex;
}

.book-cover-image {
    padding: 36px 36px;
    flex: 1;
}

    .book-cover-image img {
        min-width: 200px;
        height: auto;
        border-radius: 6px;
    }

.book-cover-info {
    flex: 5;
}

.book-cover-title {
    margin-top: 30px;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--book-cover-title);
}

.book-cover-author {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--book-cover-author);
}

.book-cover-date-added {
    font-size: 14px;
    color: var(--input-text-color);
}

.book-cover-status {
    color: var(--input-text-color);
}

.book-info strong {
    color: var(--book-cover-title);
}

.book-cover-status {
    margin-bottom: 20px;
    font-size: 14px;
}

.book-cover-etc a {
    padding: 18px 0;
    font-size: 26px;
    border-bottom: 3px solid var(--book-cover-etc-text-color);
    color: var(--book-cover-title);
}

.book-cover-etc .head-tag {
    border-bottom: 2px solid var(--book-cover-etc-head-tag);
    padding: 14px 0;
    margin-bottom: 8px;
    font-weight: bold;
    margin-right: 5%;
    color: var(--book-cover-title);
}

.book-cover-etc p {
    padding: 18px 0;
    color: var(--input-text-color);
    padding-right: 5%;
}

.book-cover-etc .book-cover-rating {
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--input-text-color);
}

.book-cover-rating i {
    color: var(--star-color);
}


/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-background-color-1);
    background-color: var(--overlay-background-color-2);
    display: none;
    z-index: 2000;
}


/* Overlay-delete */

.overlay-delete {
    border-radius: 8px;
    width: 500px;
    position: fixed;
    display: none;
    height: auto;
    top: 40%;
    transform: translateY(-50%);
    left: calc(50% - 250px);
    z-index: 2100;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
    padding: 40px;
    background: var(--container-background);
}

    .overlay-delete h1 {
        margin-bottom: 30px;
        font-size: 1.5rem;
        color: var(--book-cover-title);
    }

    .overlay-delete button,
    .overlay-delete input[type="submit"] {
        padding: 10px 75px;
        margin-right: 4px;
    }


/* Overlay-rating */

.overlay-rating {
    border-radius: 8px;
    width: 500px;
    position: fixed;
    display: none;
    height: 400px;
    top: 40%;
    transform: translateY(-50%);
    left: calc(50% - 250px);
    z-index: 2100;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
    background: var(--container-background);
    padding: 30px;
    text-align: center;
}

    .overlay-rating h1 {
        font-size: 1.5rem;
        color: var(--book-cover-title);
    }

.rate {
    height: 46px;
}

    .rate:not(:checked) > input[type="radio"] {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: var(--rate-not-checked-color);
        transform: translate(-145px, 0);
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input[type="radio"]:checked ~ label {
        color: var(--star-color);
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: var(--star-color);
    }

    .rate > input[type="radio"]:checked + label:hover,
    .rate > input[type="radio"]:checked + label:hover ~ label,
    .rate > input[type="radio"]:checked ~ label:hover,
    .rate > input[type="radio"]:checked ~ label:hover ~ label,
    .rate > input[type="radio"]:hover ~ input[type="radio"]:checked ~ label {
        color: var(--star-color);
    }

    .rate .comment {
        transform: translate(75px, 50px);
    }

    .rate textarea {
        width: 450px;
        height: 160px;
        transform: translate(-80px, -10px);
    }

.comment p {
    color: var(--book-cover-title);
    font-size: 18x;
}

.overlay-rating button {
    padding: 10px 82px;
    transform: translate(120px, 217px);
}

.overlay-rating input[type="submit"] {
    padding: 10px 80px;
    transform: translate(-110px, 60px);
}


/* Overlay borrow */

.overlay-borrow {
    color: white;
    border-radius: 8px;
    width: 520px;
    position: fixed;
    display: none;
    height: auto;
    top: 40%;
    transform: translateY(-50%);
    left: calc(50% - 250px);
    z-index: 2100;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
    padding: 40px;
    background: var(--container-background);
    text-align: center;
}

    .overlay-borrow button,
    .overlay-borrow input[type="submit"] {
        padding: 10px 75px;
        margin-right: 4px;
        margin-left: 6px;
    }

    .overlay-borrow .rule {
        color: red;
        padding: 30px 10px 30px 10px;
        border: 1px solid red;
        margin-bottom: 30px;
        border-radius: 10px;
    }


/******* Book showcase *******/


/******* Leaderboard ******/

.leaderboard {
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 40px;
}

.leaderboard-header {
    font-size: 1.2em;
    color: var(--text-icon-nav);
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.leaderboard button {
    margin-top: 40px;
    margin-left: 43.5%;
}

.leaderboard-list {
    display: flex;
    height: 105px;
    background: var(--background-header);
    border: 1px solid var(--leaderboard-list-border);
}

    .leaderboard-list:hover {
        opacity: 1;
        transform: scaleX(1.04) scaleY(1.01);
        transition: all 0.3s ease-in-out;
        background: var(--leaderboard-list-hover);
        box-shadow: 0 2.5px 0 rgba(0, 0, 0, .12);
    }

.list-top {
    flex: 1;
    color: var(--text-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .list-img img {
        width: 75px;
    }

.list-info {
    flex: 11;
    display: grid;
    align-items: center;
}

.list-info-title {
    font-size: 1.6em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-left: 3%;
    color: var(--text-color-1);
}

.list-info-author {
    transform: translate(0, -20px);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-left: 3%;
    color: var(--book-author);
}

.list-rate {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .list-rate p {
        color: var(--book-author);
        margin-top: 2px;
        margin-left: 3px;
        margin-right: 2px;
    }

    .list-rate i {
        color: var(--star-color-2);
    }


/******* Leaderboard ******/


/******* Accordion Bar *******/

.accordion {
    margin-top: 40px;
}

.accordion-item {
    width: 60%;
    margin-left: 7%;
    border: 1px solid var(--accordion-border);
    border-radius: 6px;
}

.accordion-item-header {
    background: var(--accordion-item-header-bg);
    color: var(--text-color-1);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-weight: bold;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 6px;
    font-size: 16px;
}

    .accordion-item-header.active-accordion {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .accordion-item-header::after {
        content: "";
        display: inline-block;
        float: right;
        width: 10px;
        height: 10px;
        border-right: 2px solid var(--book-title);
        border-top: 2px solid var(--book-title);
        font-size: 2rem;
        margin-top: 3px;
        margin-bottom: 5px;
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
    }

    .accordion-item-header.active-accordion::after {
        transform: rotate(135deg);
        transition: all 0.2s ease-in-out;
        margin-bottom: 2px;
    }

    .active-accordion,
    .accordion-item-header:hover {
        background-color: var(--accordion-item-header-hover);
    }

.accordion-item-body {
    padding: 0 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--background-color-body-accordion);
    height: 0px;
    transform: scaleY(0);
    transition: all 0.2s ease-in-out;
}

    .accordion-item-body.active-accordion {
        display: block;
        padding: 30px 24px;
        height: auto;
        transform: scaleY(1);
        transform-origin: top;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        width: 100%;
    }

.setting-form {
    display: flex;
}

    .setting-form .select-theme,
    .setting-form .change-email {
        flex: 3;
        display: flex;
        align-items: center;
    }

    .setting-form select,
    .setting-form input[type="email"] {
        font-size: 14px;
        width: 90%;
        padding: 12px 12px;
        border: 1px solid var(--accordion-border);
        background-color: var(--accordion-item-header-bg);
        color: var(--text-color-1);
        outline: 0;
    }

    .setting-form input[type="submit"] {
        flex: 1;
        border: 1px solid var(--accordion-border);
        background-color: var(--accordion-item-form-bg);
        outline: 0;
    }

        .setting-form input[type="submit"]:hover {
            background-color: var(--accordion-item-header-hover);
        }


/******** Success Notification ********/

.success-notification {
    position: absolute;
    width: 400px;
    margin-top: 15px;
    margin-left: 43%;
    background: #28724b;
    color: #e8e6e6;
    height: 60px;
    animation: pop_up 8s ease-in-out;
    border-radius: 8px;
    transform: translate(0, -500px);
    z-index: 9999;
}

    .success-notification .message {
        display: flex;
        height: 54px;
        align-items: center;
        background: #4AAF79;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

.message i {
    margin-left: 20px;
    flex: 1;
    font-size: 26px
}

.message span {
    flex: 8;
    font-size: 18px;
}

.notification-close {
    flex: 1;
}

    .notification-close i {
        transform: translate(-4px, -10px);
        font-size: 16px;
        cursor: pointer;
    }

.success-notification .process {
    background: #4AAF79;
    width: 100%;
    height: 6px;
    animation: swing 6s linear;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@keyframes pop_up {
    0% {
        transform: translate(0, 500);
    }

    5% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(0, 0);
    }
}

@keyframes swing {
    0% {
        width: 0%;
    }

    6% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
