@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor _context_session;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeStyleSheet.cshtml";
}


<div>
    <div class="nav-bar">
        <a href="/home" class="logo">
            <p> Libib </p>
            <i class="fa-solid fa-book-open"></i>
        </a>
        <div class="list-group">
            <ul>
                <li> Support </li>
                <li> Contact Us </li>
                @if (_context_session.HttpContext != null && _context_session.HttpContext.Session.GetString("user_id") != null)
                    {
                     <li><button class="btn" onclick="window.location.href='/Libshow'"> My Library </button> </li>
                    <li> <button class="btn" onclick="window.location.href='/home/logout'"> Logout </button> </li>
                }
                else
                {
                      <li><button class="btn" onclick="window.location.href='/login/index'"> Login </button> </li>
                    <li> <button class="btn" onclick="window.location.href='/login/SignUp'"> Get Started </button> </li>
                }

            </ul>
        </div>
    </div>
    <div class="interface">

        <div class="container container-first">
            <div class="title">Cloud Cataloging</div>
            <p class="description">
                Your library has never looked so good
                <br>Books, Movies, Music and Video Games.
            </p>
            <button class="btn btn-2" onclick="window.location.href='/signup'"> Get Started </button>
            <img src="https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="image">
        </div>

        <div class="container">
            <div class="title">Create & Share Your Collection</div>
            <p class="description">
                @_context_session.HttpContext.Session.GetInt32("user_id");
                Our library management service caters to libraries, schools, organizations, and home catalogs. Our online software lets you create multiple collections, catalog books, movies, music, and video games, create tags, leave notes, import/export,
                share your collections and much more. We offer two different subscription options to best fit your needs. Libib is the best place for cataloging and managing your media available online. Now which version is the best for you?
            </p>
            <button class="btn btn-2">Compare Plans</button>
        </div>


        <div class="container2">
            <div class="info">
                <div class="title">Automatic Data for Books, Movies, Music and Video Games</div>
                <p class="description"> Just scan your ISBN/UPC barcode using a physical scanner or our free mobile apps and we take care of the rest.</p>
            </div>
            <div class="side-image">
                <img src="https://images.unsplash.com/photo-1506377872008-6645d9d29ef7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="image" alt="">
            </div>
        </div>

        <div class="container2">
            <div class="side-image">
                <img src="https://images.unsplash.com/photo-1569728723358-d1a317aa7fba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="" class="image">
            </div>
            <div class="info">
                <div class="title">Cloud Sync keeps your collections updated across multiple devices</div>
                <p class="description"> Access your collections from anywhere on virtually any device.</p>
            </div>
        </div>
        <div class="container2">
            <div class="info">
                <div class="title">Create up to 100 mixed media collections.</div>
                <p class="description"> Just scan your ISBN/UPC barcode using a physical scanner or our free mobile apps and we take care of the rest.</p>
            </div>
            <div class="side-image">
                <img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="image">
            </div>
        </div>

        <div class="container2">
            <div class="side-image">
                <img src="https://images.unsplash.com/photo-1549383028-df014fa3a325?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80" alt="" class="image">
            </div>
            <div class="info">
                <div class="title">Libib Pro Users Can Access Even More Power.</div>
                <p class="description"> Need lending, patron management, custom fields, barcode management, single click restorations, or an interactive online library? Libib Pro brings an abundance of additional enhancements to the table.</p>
            </div>
        </div>



    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="list-name"> Platform </div>
            <ul class="footer-list">
                <li class="footer-item">Home</li>
                <li class="footer-item">Pricing</li>
                <li class="footer-item">Login</li>
                <li class="footer-item">Sign Up</li>
            </ul>
        </div>
        <div class="footer-container">
            <div class="list-name">Learn</div>
            <ul class="footer-list">
                <li class="footer-item"> Contact </li>
                <li class="footer-item"> Contact </li>
                <li class="footer-item"> Support </li>
                <li class="footer-item"> Blog </li>
                <li class="footer-item">FAQs </li>
                <li class="footer-item"> Careers </li>
            </ul>
        </div>
        <div class="footer-container">
            <div class="list-name">Policies</div>
            <ul class="footer-list">
                <li class="footer-item">Privacy</li>
                <li class="footer-item">Security</li>
                <li class="footer-item">Terms</li>
                <li class="footer-item">Sitemap</li>
            </ul>
        </div>
        <div class="footer-container">
            <div class="list-name">Social</div>
            <ul class="footer-list">
                <li class="footer-item">Youtube</li>
                <li class="footer-item">Twitter</li>
                <li class="footer-item">Instagram</li>
            </ul>
        </div>
        <div class="footer-side-container">
            <i class="fa-solid fa-book-open footer-logo"></i>
            <div class="final-word">Whether you have 50 items or 5,000 items, your library is precious. With Libib, managing your own privacy library of books, movies, music & games is a snap. Create your account today.</div>
        </div>
    </div>
    <div class="end">
        ©libib.com / All rights reserved
    </div>

</div>